#projects {
  width: 100%;
  background: #fff;
  margin-top: 15vh;

  .row {
    height: 100vh;
    width: 80%;
    display: flex;
    margin: 5rem auto;
    justify-content: space-around;
    align-items: center;

    @include respond(tablet) {
      &:nth-of-type(odd) {
        flex-wrap: wrap-reverse;

        .row-right {
          height: 10%;
        }
      }

      &:nth-of-type(even) {
        flex-wrap: wrap;

        .row-left {
          height: 10%;
        }
      }
    }

    @include respond(phone) {
      width: 100%;

      &:nth-of-type(odd) {
        flex-wrap: wrap-reverse;

        .row-right {
          height: 0;
        }
      }

      &:nth-of-type(even) {
        flex-wrap: wrap;

        .row-left {
          height: 0;
        }
      }
    }

    &-img {
      video {
        width: 100%;
        box-shadow: 0 0 4rem 1rem $color-grey;
      }
    }

    &-left {
      @include rowColumns;
    }

    &-right {
      @include rowColumns;
    }

    &-icons {
      padding: 1rem 0 0;
      margin: 0 auto;
      display: flex;

      .icon-hover {
        position: relative;
        width: 20%;

        &:hover {
          cursor: default;

          img {
            opacity: 0.3;
          }

          h2 {
            opacity: 1;
          }
        }
      }

      img {
        width: 60%;
        height: 90%;
        margin: 0 1rem;
      }

      h2 {
        @include absCenter();
        left: 39%;
        opacity: 0;
        font-weight: 400;
        letter-spacing: 0.3rem;
        line-height: 2rem;
        font-size: 2rem;
        text-transform: uppercase;
        color: $color-dark;
        font-family: "Montserrat", sans-serif;
        text-shadow: #fff 1px 1px;
        text-align: center;
      }
    }

    &-buttons {
      margin: 3rem 0 0 -1rem;
    }

    // Scroll
    h2.row-heading .char {
      color: transparent;
      overflow: hidden;
    }

    h2.row-heading .char::after {
      visibility: visible;
      color: #191919;
      opacity: 0;
      transform: translateY(30%);
      transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-delay: calc(0.4s + (0.04s * var(--char-index)));
    }

    [data-scroll="in"] h2.splitting .char::after {
      opacity: 1;
      transform: translateY(0);
    }

    h2.row-heading span.word {
      color: transparent;
      overflow: hidden;
      opacity: 0;
      transform: translateY(30%);
    }

    [data-scroll="in"] h2.row-heading span.word {
      visibility: visible;
      color: #191919;
      transform: translateY(0);
      transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-delay: calc(0.4s + (0.04s * var(--word-index)));
      opacity: 1;
    }
  }
}
