@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin rowColumns {
  width: 50%;
  padding: 0 3rem;

  // Title
  h2 {
    margin: auto;
    font-size: 5rem;
    font-weight: 500;
    line-height: 5rem;
  }

  // "Created with"
  h3 {
    font-weight: 400;
    letter-spacing: 0.7rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: $color-dark;
    font-family: "Montserrat", sans-serif;
    padding: 3rem 0 0;
  }

  // Overview
  h4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 4rem;
    color: $color-dark;
    font-family: "Montserrat", sans-serif;
  }

  @include respond(tablet) {
    width: 100%;
  }

  @include respond(phone) {
    width: 100%;
  }
}

// Skills row columns
@mixin skills-column {
  @include absCenter();
  width: 100%;
  height: 100%;
  top: 75%;

  display: grid;
  grid-template-rows: 8rem 8rem 8rem;
  grid-row-gap: 15px;
}

@mixin skills-h3 {
  h3 {
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.7rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: $color-dark;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 3rem;

    @include respond(phone) {
      position: absolute;
      top: 6%;
      left: 16%;
      z-index: 2;
      font-size: 2rem;
      letter-spacing: 0.4rem;
    }
  }
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tablet
- tab-land
- big-desktop

*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 451px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      @content;
    }
  }
  @if $breakpoint == laptop-l {
    @media only screen and (min-width: 1440px) and (max-width: 1599px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 1600px) {
      @content;
    }
  }
}
